header {
  background-color: #f8f;
}
nav {
  background-color: aquamarine;
}
.index-articles {
  background-color: blueviolet;
}
aside {
  background-color: chartreuse;
}
footer {
  background-color: cornflowerblue;
}

nav {
  padding: 10px;
}
nav > ul {
  list-style-type: none;
}
nav > ul > li {
  display: inline;
  font-size: 25px;
}
.indexpicture {
  height: 250px;
  width: 500px;
}
figcaption {
  background-color: #222;
  color: #fff;
  text-align: center;
}
figure {
  float: right;
  display: flex;
  padding: 5px;
  flex-flow: column;
}
.logo {
  max-width: 100px;
  max-height: 100px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.index-articles {
  display: flex;
  flex-direction: column;
  flex: 0 0 80%;
}
header {
  flex: 1 1 100%;
}
.aside-right {
  flex: 0 0 20%;
  float: right;
}
.main-nav {
  flex: 1 1 100%;
}
.promo-video {
  flex: 1;
}
.cookie {
  position: fixed;
  right: 10px;
  bottom: 10px;
  order: 2;
  color: #fff;
  border: solid;
  background-color: #fa0;
  opacity: 50%;
  z-index: 9999;
}
