/* General Css */

@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

header {
  background-color: #f8f;
}
nav {
  background-color: aquamarine;
}
.index-articles {
  background-color: blueviolet;
}
aside {
  background-color: teal;
}
footer {
  background-color: cornflowerblue;
}
.bd-articles{
  background-color: blueviolet;
}
.logo{
  height: 100px;
  padding-left: 20px;
}
body
{
font-family: Arial, Helvetica, sans-serif;
line-height: 1.6;
font-size: 16px;
}
header h1{
  font-size: 32px;
  letter-spacing: 3px;
  padding-left: 20px;
}
header h2{
  font-size: 20px;
  letter-spacing: 3px;
  padding-left: 20px;
}
footer{
  text-align: right;
}
article h1{
  text-align: center;
  font-family: Notable, Arial, Helvetica, sans-serif;
  letter-spacing: 3px;

}
nav{
  padding: 10px;
}
nav >ul {
  list-style: none;
  text-align: center;
}
nav>ul>li{
  display: inline-block;
  padding-left: 25px;
  font-family: Notable, sans-serif;
  letter-spacing: 2px;
}
nav>ul>li>a{
  text-decoration: none;
}
nav>ul>li>a:hover{
  transition: all 0.03s ease 0s;
  text-shadow: 4px 4px 8px orangered;
  color: orangered;
}

header{
  font-family: Notable, sans-serif;
  text-transform: uppercase;
  
}
.index-cookie {
  position: fixed;
  right: 10px;
  bottom: 10px;
  order: 2;
  color: #fff;
  border: solid;
  background-color: #fa0;
  opacity: 50%;
  z-index: 9999;
}
article{
  padding: 5px;
  border: solid;
}
article p {
  text-indent: 20px;
  
}
figcaption{
  text-align: center;
}

/*Index Css*/
.indexpicture{
  width: 500px;
  height: 250px;
}
.index-figure{
  float: right;
}

.index-container{
  display: flex;
  flex-wrap: wrap;
}
.index-header{
  flex: 1 1 100%;
}
.index-nav{
  flex: 1 1 100%;
}
.index-video{
  flex: 1;
  padding-left: 15%;
}
.index-articles{
  width: 80%;
  display: flex;
  flex-direction: column;
  flex: 1 1 80%
}
.index-aside{
  flex: 0 0 20%;
  float: right;
  width: 20%;
  
}
.index-footer{
  text-align: left;
  flex: 1 1 80%;
}
.index-cookie{
  flex: 1 1 20%;
}
.index-aside-list>li{
font-family: Notable,Arial, Helvetica, sans-serif;
}
/* Best Destinations CSS */

.bd-image{
  height: 250px;
  width: 550px;
}
#bd-article01{
  grid-area: art01;
}
#bd-article02{
  grid-area: art02;
}
#bd-article03{
  grid-area: art03;
}
#bd-article04{
  grid-area: art04;
}
#bd-article05{
  grid-area: art05;
}
#bd-article06{
  grid-area: art06;
}
.bd-header{
  grid-area: header;
}
.bd-nav{
  grid-area: nav;
}
.bd-articles{
  grid-area: main;
  display: grid;
  grid-template-areas: 
  'art02 art01 art03'
  'art02 art01 art03'
  'art05 art01 art03'
  'art05 art01 art04'
  'art05 art01 art04'
  'art05 art01 art04'
  'art05 art06 art06'

}
.bd-figure01{
  grid-area: fig01;
}
.bd-figure02{
  grid-area: fig02;
}
.bd-figure03{
  grid-area: fig03;
}
.bd-aside{
  display: grid;
  grid-template-areas: 'fig01 fig02 fig03';
  grid-area: aside;
}
.bd-cookie{
  grid-area: cookie;
}
.bd-footer{
  grid-area: footer;
}
.bd-container{
  display: grid;
  grid-template-areas:
  'header header header'
  'nav nav nav'
  'main main main'
  'main main main'
  'aside aside aside'
  'footer footer cookie'
}
.bd-cookie{
  position: fixed;
  right: 10px;
  bottom: 10px;
  order: 2;
  color: #fff;
  border: solid;
  background-color: #fa0;
  opacity: 50%;
  z-index: 9999;
}
/*Tickets Css */

.tickets-container{
display: flex;
flex-wrap: wrap;
}
.tickets-header{
  flex: 1 1 100%;
}
.tickets-nav{
  flex: 1 100%;
}
.tickets-table{
  flex: 1 ;
}
.tickets-footer{
  text-align: left;
  flex: 1 1 80%;
}
.tickets-cookie{
    position: fixed;
    right: 10px;
    bottom: 10px;
    order: 2;
    color: #fff;
    border: solid;
    background-color: #fa0;
    opacity: 50%;
    z-index: 9999;
}
.tickets-image{
  width: 500px;
  height: 250px;
}
.table-body{
  text-align: center;
}
.table-body>tr:nth-child(even){
  background-color: #cff;
}
.table-body>tr:nth-child(odd){
  background-color: #FFF;
}
.table-head>tr:first-child{
  background-color: #000;
  color: #FF0;
}


/* Contact Css */


